*.pyc
data*
myenv
bin
lib
include
lib64
pyvenv.cfg
pip-selfcheck.json
.vscode
.idea
*.json
.netrc
log.txt
accounts/*
Thumbnails/*
rclone/*
sabnzbd/*
list_drives.txt
cookies.txt
downloads
bot.session*
rclone.conf
